{% extends 'web/base.html' %}
{% load static %}

    {% block content %}
    <h1>About Tulsa.Beer</h1>
    <p class="pt-3">Tulsa.Beer was launched in the early spring of 2021 as a protfolio project for the Holberton School front end curriculum.</p>

    <p class="pt-3">The hope is that in time with improvements in the code base, a spiffier front end, a whole lot of marketing legwork, this can become a local version of beeradvocate or other breweing geek sites.</p>

    <h6>Want to join the project?</h6>
    <p>Find the repo <a href="#">Here</a> or email me at jacobmeide@gmail.com</p>

    <h5>Cheers</h5>

    <img width="300rem" src="{% static 'images/clink.svg'%}" alt="">
    {% endblock %}
