{% extends 'web/base.html'%}

{% block content %}
<div class="container">
    <div class="row mt-5 tallrow">
        <div class="col-md-6"></div>
        <div class="col-md-6 d-flex flex-column justify-content-center border-left">
            <p>Name: {{brewer.name}}</p>
            <p>Year Founded: {{brewer.founded}}</p>
            <p>Address: {{brewer.address}}</p>
            <p>Email: {{brewer.email}}</p>
            <p>Phone: {{brewer.phone}}</p>
            <p>Website <a href="{{brewer.website}}">{{brewer.website}}</a></p>
        </div>
    </div>
    <hr>
    <p class="text-center">{{brewer.description}}</p>
    <div class="row mb-5">
    {% for i in beers %}
        <div class="col mt-3 mr-5">
            <div class="mt-3 beercard mx-auto card" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">{{i.name}}</h3>
                    <h6>{{i.brewer_name}}</h6>
                    <hr>
                    <p>{{ i.style}}</p>
                    <div class="card-inset">
                        <p class="card-text mt-1">IBU: {{i.ibu}}'</p>
                        <p class="card-text mt-1">ABV: {{i.abv}}'</p>
                    </div>
                    <a href="{% url 'beer' i.id %}" class="btn more-button">More</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}


