
{% extends 'web/base.html' %}
{% load static %}

{% block content %}
<img class="mb-4"src="{% static 'images/cheers.svg' %}" width="80%"></div>
<div class="container">
    <h1 class="mb-4 display-3">Tulsa.Beer</h1>
    <p style="margin: 0px 50px 16px;">Tulsa.Beer is Tulsa's searchable, api-powered knowledge base for all things local brew related. Search for a specific style, IBU, or ABV, browse by brewer or check out local events.</p>
</div>
<h2 class="mt-5">Top rated Beers right now</h2>
<div class="carousel slide" data-ride="carousel" id="carousel-1" style="margin: 25px 50px;">
    <div class="carousel-inner">
        
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
    <ol
        class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        <li data-target="#carousel-1" data-slide-to="3"></li>
        <li data-target="#carousel-1" data-slide-to="4"></li>
        </ol>
    </div>
    {% endblock content %}
    <footer style="height: 50px;background: #ffec63;"></footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>